<a href="https://colab.research.google.com/github/isha11-by/heart-disease-predictive-model/blob/main/HEART_DISEASE_PREDICTIVE_MODEL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("heart.csv")

In [ ]:
df

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]



1.   col 1= age in years
2.   col 2= sex (1= male, 0=female)
2.   col 3 = cp (chest pain type)
1.   col 4 = trestbps (resting blood pressure in mm hg on admission in hospital)
2.   col 5=  chol (serum cholestrol in mm/hg)
1.   col 6 = fbs (fasting blood sugar 1= true 0=false)
2.   col 7 = restecg(resting electrocardiographic results)
1.   col 8 = thalach (medium heart rate achieved)
2.   col 9 = exang (exercise induced angina)
1.   col 10 = old peak (ST depression induced by exercise relative to rest)
2.   col 11= slope (the slope of the peak exercise ST segment)
2.   col 12 = ca (number of major vessels (0-3) colored by flourosopy)
2.   col 13 =thal (3 = normal; 6 = fixed defect; 7 = reversable defect)
2.   col 14 = target(0= not having heart disease, 1= having heart disease)

In [ ]:
y=df['target']
y.shape

(303,)

In [ ]:
x=df.drop('target',axis='columns')
x.shape

(303, 13)

 1.specify the architecture

In [ ]:
import keras

In [ ]:
from keras.models import Sequential

In [ ]:
from keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(100,activation="relu",input_shape=(13,)))
model.add(Dense(100,activation="relu"))
model.add(Dense(1))

2. compile the model

In [ ]:
model.compile(optimizer="adam",loss="mean_squared_error")

3. fiiting the model

In [ ]:
model.fit(x,y,epochs=15)

Epoch 1/15
10/10 [==============================] - 1s 2ms/step - loss: 194.2130
Epoch 2/15
10/10 [==============================] - 0s 2ms/step - loss: 40.9853
Epoch 3/15
10/10 [==============================] - 0s 2ms/step - loss: 5.9277
Epoch 4/15
10/10 [==============================] - 0s 2ms/step - loss: 4.3380
Epoch 5/15
10/10 [==============================] - 0s 2ms/step - loss: 1.7536
Epoch 6/15
10/10 [==============================] - 0s 2ms/step - loss: 0.8756
Epoch 7/15
10/10 [==============================] - 0s 2ms/step - loss: 0.4493
Epoch 8/15
10/10 [==============================] - 0s 2ms/step - loss: 0.3559
Epoch 9/15
10/10 [==============================] - 0s 2ms/step - loss: 0.3343
Epoch 10/15
10/10 [==============================] - 0s 2ms/step - loss: 0.2514
Epoch 11/15
10/10 [==============================] - 0s 3ms/step - loss: 0.2385
Epoch 12/15
10/10 [==============================] - 0s 2ms/step - loss: 0.1950
Epoch 13/15
10/10 [==============================] - 0s 2ms/step - loss: 0.2326
Epoch 14/15
10/10 [==============================] - 0s 2ms/step - loss: 0.1931
Epoch 15/15
10/10 [==============================] - 0s 2ms/step - loss: 0.1979

4.predict using the model

In [ ]:
x

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
0     63    1   3       145   233  ...      0      2.3      0   0     1
1     37    1   2       130   250  ...      0      3.5      0   0     2
2     41    0   1       130   204  ...      0      1.4      2   0     2
3     56    1   1       120   236  ...      0      0.8      2   0     2
4     57    0   0       120   354  ...      1      0.6      2   0     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
298   57    0   0       140   241  ...      1      0.2      1   0     3
299   45    1   3       110   264  ...      0      1.2      1   0     3
300   68    1   0       144   193  ...      0      3.4      1   2     3
301   57    1   0       130   131  ...      1      1.2      1   1     3
302   57    0   1       130   236  ...      0      0.0      1   1     2

[303 rows x 13 columns]

In [ ]:
data=pd.DataFrame({"age":[56],
                  "sex":[1],"cp":[1],"trestbps":[120],"chol":[236],"fbs":[0],"restecg":[1],
                  "thalach":[178],"exang":[0],"oldpeak":[0.8],"slope":[2],"ca":[0],"thal":[2]})

In [ ]:
data

   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
0   56    1   1       120   236    0  ...      178      0      0.8      2   0     2

[1 rows x 13 columns]

In [ ]:
data.shape

(1, 13)

In [ ]:
model.predict(data)# predict model

array([[1.414285]], dtype=float32)